{% extends "layout.html" %} 
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 rounded bg-light">
    <!-- HEADER -->
    {% if title %}
    <h2 class="text-center mt-3">{{ title }}</h2>
    {% else %}
    <h2 class="text-center mt-3">TITLE PLACEHOLDER</h2>
    {% endif %}
      <div class="row mt-5">
        <h5 class="display-8">Selectionnez vos cours :</h5>
        <div class="row mt-4">
          <div class="col">
            Session : 
            <div class="btn-group"> 
              
                  <input type="radio" value="A23" class="btn-check" name="semester" id="btnradio1" autocomplete="off" checked>
                   <label class="btn btn-outline-primary" for="btnradio1">A23</label>
            
                  <input type="radio" value="H24" class="btn-check" name="semester" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio2">H24</label>
            
                  <input type="radio" value="E23" class="btn-check" name="semester" id="btnradio3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio3">E23</label>
          </div>
        </div>
        <div class="col">
          Mode : 
          <div class="btn-group" role="group" aria-label="Checkbox Button Group">
            <input type="checkbox" id="checkbox1" class="btn-check check" autocomplete="off">
            <label class="btn btn-outline-primary " for="checkbox1">Virtuel
              <img src="{{ url_for('static', filename='images/computer.png') }}" width="15" height="15" alt="">
            </label>
          </div>
          

   
            </label>
         
        </div>
        <div class="col">
          
            
                <input type="button" value="Automne" class="btn-check" name="semester" id="btnradio1" autocomplete="off" checked>
                 <label class="btn btn-outline-danger" for="btnradio1">Reset</label>
          
               
      </div>
      </div>
        </div>
  <!-- LISTE COURS -->
{% if courses %}
<div class="row mt-3 pb-3">
  <form id="agendas">
    <div class="row justify-content-center">
    <div class="col-11 border border-secondary rounded">
      <div class="row mt-3 mb-3">
      <!-- START COLS -->

      {% for cours in courses %}
        <div class="col mt-2">
          <div class="btn-group"> 
          <input type="checkbox" id="{{cours.id}}" class="btn-check cours" name="{{program_id}}">
          <label style="width: 120px;" class="btn bg-light border border-secondary" for="{{cours.id}}">{{cours.id}}
            <!-- <img src="{{ url_for('static', filename='images/computer.png') }}" width="15" height="15" alt=""> -->
          </label>
          <button type="button" class="btn btn-outline-success btn-add">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg> -->
            +
          </button>
        </div>
        </div>
        {% endfor %}
        <!-- END COLS -->
      </div>
      </div>
    </div>
     <!-- COURS HORS PROGRAMME -->
     <div class="row mt-3">
     <h5 class="display-8">Ajouter un cours hors programme :</h5>
      <div class="col-4 mt-3">
        <div class="input-group mb-3">
          <input type="text" id="SearchInput" class="form-control" placeholder="ex : INF1070" aria-label="recherche cours hors programme">
          <button class="btn btn-outline-primary" type="button" id="recherche">Recherche</button>
        </div>
      </div>
    </div>
    <!-- Liste cours hors programme -->
    <div class="row mt-3 mb-3">
      <div class="col-6">
        <div class="row" id="horsProgContainer">
        </div>
      </div>
    <!-- FILTRES -->
    <div class="row mt-3">
      <h5 class="display-8">Filtres :</h5>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <p>Ajouter une indisponibilite :</p>
        <div class="row">
          <div class="col-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>Jour</option>
              <option value="1">Lundi</option>
              <option value="2">Mardi</option>
              <option value="3">Mercredi</option>
              <option value="3">Jeudi</option>
              <option value="3">Vendredi</option>
            </select>
          </div>
          <div class="col-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>De</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
          </div>
          <div class="col-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>A</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
       
      </div>

    </div>
    <!-- FIN FILTRES -->

    <div class="row justify-content-end mt-3">
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </div>
    </div>
  </form>
       <form id="form_horsProg">
      </form>
</div>
{% endif %}
<!-- END LISTE COURS -->
</div>
</div>
</div>
  <script src="{{ url_for('static', filename='scripts/utils_cours.js') }}"></script> 
{% endblock %}
