{% extends "layout.html" %}

{% block content %}
<!-- HEADER -->
<section>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center mt-5 pt-4">
            <span class="display-4 d-block">Informatique et Genie logiciel (BAC)</span>
        </div>
    </div>
</section>


<!-- LISTE COURS  -->
<section>
<div class="row justify-content-center mt-5">
    <div class="col-8">
        <div class="row ">
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                      <h5 class="card-title">INF1070</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">iNF2058</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                      <h5 class="card-title">INF1070</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">iNF2058</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                      <h5 class="card-title">INF1070</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">iNF2058</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">INF3333</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
        </div>
    </div>
    
</div>
</section>


{% endblock %}