{% extends "layout.html" %} {% block content %}
<!-- HEADER -->
<section>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center mt-5 pt-4">
      <span class="display-4 d-block">
        {% if title %}
        {{ title }}
        {% endif %}
      </span>
    </div>
  </div>
</section>

<!-- LISTE COURS  -->
<style>
  .d-flex{
    gap:20px;
  }
</style>
{% if courses %}
<section>
  <!-- <style>
    .btn {
      --bs-btn-padding-x: 0;
      --bs-btn-padding-y: 0;}
  </style> -->
  <div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <div class="row  row-cols-auto">
        {% for cours in courses %}
        <div class="col">
          <div class="card text-center mt-2">
            <div class="card-body">{{ cours.id }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>
</section>
{% endif %}


{% endblock %}
