{% extends "layout.html" %}

{% block content %}
<!-- HEADER -->
<section>
    <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col-6">
                    <h2 class="h1 text-light">Simplifiez votre choix de cours.</h2>
                    <p class="text-light">Scheduler est un outil moderne qui permet aux étudiants de génerer des combinaisons d'horaires selon leurs préferences. </p>
                    <button type="button" class="text-align-center btn btn-outline-light">Voir les fonctionnalités</button>
                </div>
                <div class="col-6">
                    <img src="{{ url_for('static', filename='images/schedule-template-featured.svg') }}" class="img-fluid rounded float-start" width="400" height="300" alt="">
                    
                </div>
            </div>
    </div>
        </section>

<!-- SEARCH BAR -->
<Section>
  <div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-6 text-light mt-5 pt-4 text-center"><h3 >Cherchez votre programme :</h3></div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-8">
           <form id="search_program" action="/programme" method="get">
           
           <div class="input-group rounded">
            <select name="niveau" class="form-select rounded" >
                <option value="cert">Certificat</option>
                <option value="bac" selected>Baccalaureat</option>
                <option value="mait">Maitrise</option>
                <option value="doct">Doctorat</option>
              </select>
         
            <input autocomplete="off" name="program_title" id="program_title" style="width:50%" required type="search" class="form-control rounded"
                   placeholder="Titre du programme"
                   aria-label="Search"
                   aria-describedby="search-addon"/>
                   <button type="submit" class="btn btn-outline-light rounded" type="button">
                    Recherche
                  </button>   
                  <input type="hidden" name="program_id" id="program_id" value="">   
                 
                </form>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-8 pl-2">
            <div id="dropdown-menu" class="dropdown-menu">
                     </div>    
            
            </div>
          </div>
        </div>
    </div>
</Section>
{% if error %}
<script>
    var programInput = document.getElementById("program_title");
    programInput.classList.add("border-danger");
    programInput.attributes[7].value = "{{error}}";
</script>
{% endif %}
<script src="{{ url_for('static', filename='scripts/autocompletion.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/utils_index.js') }}"></script>
{% endblock %}