<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Scheduler</title>
  </head>
  <body>
    <style>
        body{
            height: 100vh;
            background-color: rgb(122, 107, 255); /* For browsers that do not support gradients */
            background-image: linear-gradient(to top right, rgb(78, 111, 255), rgb(185, 101, 255));
            background-repeat: no-repeat;
        }
    </style>
    <!-- NAVBAR -->
    <nav class="navbar navbar-light navbar-expand-md bg-light py-3 mb-5">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>Scheduler</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/cours">Fonctionnalités</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/">Contactez-nous</a></li>

            </div>
        </div>
    </nav>
<!-- HEADER -->
    <section>
    <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col-6">
                    <h2 class="h1 text-light">Simplifiez votre choix de cours.</h2>
                    <p class="text-light">Scheduler est un outil moderne qui permet aux étudiants de génerer des combinaisons d'horaires selon leurs préferences. </p>
                    <button type="button" class="text-align-center btn btn-outline-light">Voir les fonctionnalités</button>
                </div>
                <div class="col-6">
                    <img src="schedule-template-featured.svg" class="img-fluid rounded float-start" width="400" height="300" alt="">
                    
                </div>
            </div>
    </div>
        </section>

<!-- SEARCH BAR -->
  <div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-6 text-light mt-5 pt-4 text-center"><h3 >Rercherchez votre programme</h3></div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-8">
           <form id="search_program" action="/programme" method="get">
           
           <div class="input-group rounded">
            <select name="niveau" class="form-select rounded" >
                <option value="cert">Certificat</option>
                <option value="bac" selected>Baccalaureat</option>
                <option value="mait">Maitrise</option>
                <option value="doct">Doctorat</option>
              </select>
         
            <input autocomplete="off" name="program_title" style="width:50%" required type="search" class="form-control rounded"
                   placeholder="Titre du programme"
                   aria-label="Search"
                   aria-describedby="search-addon"/>
                   <button type="submit" class="btn btn-outline-light rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recherche
                  </button>   
                  <input type="hidden" name="program_id" id="program_id" value="">   
                 
                </form>
        </div>
        <!-- <div class="row justify-content-center align-items-center g-2">
            <div class="col-6"><small id="helpId" class="form-text text-danger">le champs ne peut pas etre vide</small></div>
          </div> -->
        </div>
    </div>
  </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>