{% extends "layout.html" %} 
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 rounded bg-light">
    <!-- HEADER -->
    {% if title %}
    <h2 class="text-center mt-3">{{ title }}</h2>
    {% else %}
    <h2 class="text-center mt-3">TITLE PLACEHOLDER</h2>
    {% endif %}
     

    <!-- SCHEDULES LIST -->
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="img-fluid" alt="...">
      </div>
    </div>
</div>
</div>
</div>
  <script src="{{ url_for('static', filename='scripts/utils_cours.js') }}"></script> 
{% endblock %}
