{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="static/style/schedule_page.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="justify-content-center">
    <div class="col-11 rounded bg-light">
      <!-- HEADER -->
      <h2 class="text-center mt-3 titre-horaire">Horaires disponibles</h2>
      <script>
        var combinations = JSON.parse('{{ combinations | safe }}');
      </script>
      <!-- SCHEDULES LIST -->
      <div class="col-12" id="schedulesList">
        <!-- Dynamic generation of imgs happen here -->
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/schedule_loader.js') }}"></script>
{% endblock %}